@using NodeCubeChat.Models.PrivateViewModels;
@{
    ViewData["Title"] = "Chat Page";

}
@model PrivateViewModel

<script src="http://52.166.140.100:3000/socket.io/socket.io.js"></script>
@*<script src="http://localhost:3000/socket.io/socket.io.js"></script>*@

<script>
        var user = { name: "@Model.DisplayName", avatar: "@Model.ProfilePicture", room : "Private_@Model.ConversationId" };
        var socket = io.connect('http://52.166.140.100:3000')
        //var socket = io.connect('http://localhost:3000')
        socket.emit("join", user);
    
        function ApproveConvo()
        {
            ApproveConversation(@Model.ConversationId);
            socket.emit('ApproveConversation');
        }

        function SendMessage() {
            socket.emit('chat_message', $('#UserChatMessage').val());
            AddMessageToDB($('#UserChatMessage').val(), user.room);
            $('#UserChatMessage').val('');
        }
        function SendVideo() {
            var videoid = GetYoutubeVideoId($('#UserVideoLink').val());
            socket.emit('video_link', videoid);
            AddMessageToDB("[YTVID[https://www.youtube.com/watch?v="+videoid+"]VIDID["+videoid+"]]", user.room);
            $('#UserVideoLink').val('');
        }

        socket.on('AppendVideoLink', function (videolink) {

            var ul = document.getElementById("ChatMessages");
            var li = document.createElement("li");

            var date = new Date();
            formatDate = date.toISOString();

            var chatTemplate = "<li class='left clearfix'><span class='chat-img pull-left'><img src='" + videolink.avatar + "' alt='User Avatar'></span><div class='chat-body clearfix'><div class='header'><strong class='primary-font'><a href='/User/Profile/" + videolink.name + "' >" + videolink.name + "</a></strong><small class='pull-right text-muted'><i class='fa fa-clock-o'></i><time title='" + date.toLocaleString() + "' datetime='" + formatDate + "'> Right now</time></small></div><iframe width='100%' height='315' src='https://www.youtube.com/embed/" + videolink.video + "' frameborder='0'></iframe></div></li>";

            li.innerHTML = chatTemplate;
            li.setAttribute("class", "left clearfix"); // added line
            ul.appendChild(li);

            $("#ChatContainer").animate({ scrollTop: $('#ChatContainer').prop("scrollHeight") }, 1000);
        });
        socket.on('AppendChatMessage', function (msg) {

            var ul = document.getElementById("ChatMessages");
            var li = document.createElement("li");

            var date = new Date();
            formatDate = date.toISOString();

            var chatTemplate = "<span class=\"chat-img pull-left\"><img src=\"" + msg.avatar + "\" alt=\"User Avatar\"></span><div class=\"chat-body clearfix\"><div class=\"header\"><strong cla<strong class=\"primary-font\" style=\"cursor:pointer;\" onclick=\"OpenModal('Profile','"+msg.name+"')\">"+msg.name+"</strong><small class=\"pull-right text-muted\"><i class=\"fa fa-clock-o\"></i><time title=\"" + date.toLocaleString() + "\" datetime=\"" + formatDate + "\"> Right now</time></small></div><p>" + msg.message + "</p></div>";

            li.innerHTML = chatTemplate;
            li.setAttribute("class", "left clearfix"); // added line
            ul.appendChild(li);

            $("#ChatContainer").animate({ scrollTop: $('#ChatContainer').prop("scrollHeight") }, 1000);
        });


        socket.on('ApproveConversation', function () {
            var container = document.getElementById("ChatContainer");
            ConversationApproved = "True";
            container.innerHTML = '<ul class="chat" id="ChatMessages"></ul>';

            $('#UserChatMessage').prop('disabled', false);

        });

        $(document).ready(function () {
            var ConversationApproved = "@Model.ConversationApproved";

            if (ConversationApproved == "False") {
                $('#UserChatMessage').prop('disabled', true);
            }
        })
</script>

@*<script>

    socket.on('AppendChatMessage', function (msg) {
        $('#UserChatMessage').val('');

        var ul = document.getElementById("ChatMessages");
        var li = document.createElement("li");

        var date = new Date();
        formatDate = date.toISOString();

        var chatTemplate = "<span class='chat-img pull-left'><img src='" + msg.avatar + "' alt='User Avatar'></span><div class='chat-body clearfix'><div class='header'><strong class='primary-font'><a href='/User/Profile/"+msg.name+"'>" + msg.name + "</a></strong><small class='pull-right text-muted'><i class='fa fa-clock-o'></i><time title='" + date.toLocaleString() + "' datetime='" + formatDate + "'> Right now</time></small></div><p>" + msg.message + "</p></div>";

        li.innerHTML = chatTemplate;
        li.setAttribute("class", "left clearfix"); // added line
        ul.appendChild(li);

        $("#ChatContainer").animate({ scrollTop: $('#ChatContainer').prop("scrollHeight") }, 1000);
    });


</script>*@

<div class="container">

    <div class="chat-ad-left">

    </div>
    <aside id="RoomSidebar" class="sidebar rooms">
        <h1>Messages</h1>
        <button onclick="CloseSidebar('#RoomSidebar')"><i class="fa fa-times"></i></button>
        <div class="aside-container">
            <ul class="people">
                @foreach (ConversationTemplate convo in Model.Conversation)
                {
                    <li class="person" data-chat="person1">
                        <a href="/Private/Chat/@convo.PartnerDisplayName">
                            <img src="@convo.PartnerProfilePicture" alt="" style="width:45px;" />
                            <span class="name">@convo.PartnerDisplayName</span>
                            @*@if (convo.LastMessageTime != null)
                                {
                                    DateTime time = (DateTime)convo.LastMessageTime;
                                    <span class="time"><time title="@time" datetime="@time.ToString("o")"></time></span>
                                    <span class="preview">@convo.LastMessageText</span>
                                }*@
                        </a>
                    </li>
                }
            </ul>
        </div>
    </aside>
    <main>

        <div Id="RoomInfo">
            <button class="RoomsButton" onclick="OpenSidebar('#RoomSidebar')"><i class="fa fa-comments"></i></button>
            <div class="RoomName">
                <h3>Chat with @Model.PartnerDisplayName</h3>
            </div>
            <button class="UsersButton" onclick="OpenSidebar('#UserSidebar')"><i class="fa fa-check-circle-o"></i></button>
        </div>
        <div class="chat-container" id="ChatContainer">
                @if (Model.ConversationApproved)
                {
                    <ul class="chat" id="ChatMessages">

                        @foreach (ChatMessageTemplate message in Model.Messages)
                        {
                            <li class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src="@message.ProfilePicture" alt="User Avatar">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font" style="cursor:pointer;" onclick="OpenModal('Profile','@message.DisplayName')">@message.DisplayName</strong>
                                        <small class="pull-right text-muted"><i class="fa fa-clock-o"></i><time title="@message.Timestamp" datetime="@message.Timestamp.ToString("o")"></time></small>
                                    </div>
                                    <p>
                                        @message.Message
                                    </p>
                                </div>
                            </li>
                        }
                    </ul>
                }
        </div>
        <div class="chat-input">
            <div class="chat-box bg-white">
                <div class="input-group">
                    <input id="UserChatMessage" class="form-control border no-shadow no-rounded" placeholder="Type your message here">
                    <span class="input-group-btn">
                        @*<button id="SendMessageBtn" class="btn btn-success no-rounded" type="button" onclick="appendChatMessage('@Model.ProfilePicture','@Model.DisplayName');">Send</button>*@
                        <button id="SendMessageBtn" class="btn btn-success no-rounded" type="button" onclick="SendMessage();">Send</button>
                    </span>
                </div><!-- /input-group -->
            </div>
        </div>
    </main>
    <aside id="UserSidebar" class="sidebar users">
        <h1>Approval</h1>
        <button onclick="CloseSidebar('#UserSidebar')"><i class="fa fa-times"></i></button>
        <div class="aside-container">
        @if (!Model.ConversationApproved)
        {
            @if (!Model.IsCurrentUserInitiator)
            {
                <a href="#" id="ApproveConvoButton" class="btn btn-success no-rounded" onclick="ApproveConvo();">Approve this conversation</a>
            }
            else
            {
                <div class="left clearfix">
                    <span class="chat-img pull-left">
                    </span>
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">Request sent</strong>
                        </div>
                        <p>
                            Waiting for approval..
                        </p>
                    </div>
                </div>
            }
        }
        
        </div>
    </aside>
    <div class="chat-ad-right">

    </div>
</div>
